<div class="container">
  <h1>Restaurants</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Category</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <th scope="row">
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.category.capitalize %></td>
          <td><%= restaurant.phone_number %></td>
          <td><%= link_to 'Show', restaurant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
