<div class="container">
  <div>
    <h1><%= @restaurant.name %></h1>
    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @restaurant.category.capitalize %>
    </p>

    <p>
      <strong>Phone Number:</strong>
      <%= @restaurant.phone_number %>
    </p>

    <p>
      <strong>Reviews</strong>
    </p>

    <% @restaurant.reviews.each do |r| %>
    <p>
      <strong><%= r.rating %></strong> Stars -> <%= r.content %>
    </p>
    <% end %>
  </div>
  <div class="mx-auto">
    <%= link_to "New review", new_restaurant_review_path(@restaurant), class: "btn btn-success mx-auto" %>
    <%= link_to "Back to List", restaurants_path, class: "btn btn-primary" %>
  </div>
</div>
